<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DbServer" value="servidorsap" />
    <add key="DbSapName" value="ETNIA_HK_TEST" />
  </appSettings>
</configuration>